.item{
    display: inline-block;
    border:1px solid rgb(185,185,185);
    width:25rem;
    height: 30rem;
    margin:15px;
    padding:10px;
}

.item img{
    width:250px;
    height: 200px;
    margin:5px;
}

.itemPrice{
    font-weight: 400;
    font-size: 2rem;
    color:rgb(160,30,30);
}